<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Bonjour sammer !</h1>
        <p class="lead" jhiTranslate="home.subtitle">Vous pouvez choisir entre créer un évement ou y aller en toute sécurité</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="" *ngSwitchCase="true">

                <p class="lead">Voulez vous créer ou organiser ?</p>

                <div class="d-flex">
                    <button class="btn btn-primary btn-beautiful red">
                        <span class="d-flex">
                            <span>J'organise !</span>
                        </span>
                    </button>
                    <button class="btn btn-primary btn-beautiful green">
                        <span class="d-flex">
                            <span>Je participe !</span>
                        </span>
                    </button>
                </div>
            </div>

            <div class="" *ngSwitchCase="false">
                <p class="lead">Mais pour ça, vous devez d'abbord vous connecter ou créer un compte si c'est pas déjà fait !</p>

            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Voulez vous vous</span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
                ?
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

    </div>
</div>
