
<div *ngIf="trip">
    <h2><span>Voyage numéro</span> {{trip.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Ville départ</span></dt>
        <dd>
            <span>{{trip.originCity}}</span>
        </dd>
        <dt><span>Evénement</span></dt>
        <dd>
            <div *ngIf="trip.event">
                <a [routerLink]="['/event', trip.event?.id]">{{trip.event?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Annuler</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trip/'+ trip.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Modifier</span>
    </button>
</div>
