<form class="evenement-form">
  <mat-form-field>
    <input matInput placeholder="Nom">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Date">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Adresse n°1">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Adresse n°2">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Code postal">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ville">
  </mat-form-field>
  <button mat-button>Valider</button>
</form>
